<%= render partial: 'header' %>
<img id="kupo" src="<%= image_path('kupo.png') %>">
<main class="container-fluidish">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">
        <span class="yellow">Kupo</span><span class="red">Deals</span>
        <h3>Welcome!</h3>
        <p>Kupo Deals tracks the prices of playstation games on the ps store and at major retailers in order to find the best deals.</p>
      </h1>
    </div>
  </div>
  <div class="jumbotron-fluid">
    <div class="container">
      <div class="card-rows">
        <% @games.each do |game| %>
          <div class="card">
            <div class="card-body">
              <img class="img" src="<%= image_path(game.cover_url) %>">
              <h6 class="card-title">
                <span class="yellow">
                  <%= game.name %>
                </span>
                <span class="badge badge-danger colorful">
                  <%= game.discount %>
                </span>
              </h6>
              <div>
                <s class="text-muted"><%= game.previous_price %></s>
                <strong><%= game.current_price %></strong>
              </div>
            </div>
          </div>
        <% end %>
        <%= link_to 'View all', '/all_games' %>
      </div>
    </div>
  </div>
</main>
<%= render partial: 'footer' %>
